@import '../../styles/variables.scss';

header {
  height: $headerHeight;
  color: $light;
  display: flex;
  align-items: center;
}

header a {
  color: $light;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #84e;
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.307);
}

header a:hover {
  background-color: #94e;
}

header a + a {
  margin-left: 30px;
}